repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: check-added-large-files
    -   id: trailing-whitespace
        exclude_types: [rst]
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
